/*body{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "header header" "map map"
}*/

header{
    grid-area: header;
}

#map{
    height: 50vh;
    grid-area: mappanel;
} 

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "snapshot right_contents"
}

.survey {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.stats{
    padding: 7px;
}

#snapshot{
    word-wrap: break-word;
    height: 50vh;
    overflow-y: auto;
}

/* customize scrollbar for snapshot */
#snapshot::-webkit-scrollbar {
    width: 20px;
}
#snapshot::-webkit-scrollbar-track {
    background-color: transparent;
}

#snapshot::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}
#snapshot::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
#snapshot::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
#snapshot::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
/* end scrollbar customized*/

.stories{
    border: 1px solid rgb(160, 160, 160);
    padding: 5px;
    
    /* HANDLE LONG WORD THAT BREAKS DIV WIDTH */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}